

button{

        background:    #f4cccc;
        background:    -webkit-linear-gradient(#f4cccc, #cc0000);
        background:    linear-gradient(#f4cccc, #cc0000);
        border-radius: 5px;
        box-shadow:    6px 6px #f9cb9c;
        padding:       8px 20px;
        color:         #ffffff;
        display:       inline-block;
        font:          normal 700 24px/1 "Roboto", sans-serif;
        text-align:    center;
        text-shadow:   1px 1px #000000
        top: 50%;
    
}


#canvas {

    border: 3px solid red;
}   


.wrap {
    margin-left:300px;
}